body {
  margin: 0;
  padding: 0px 10px;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.album-detail {
  margin-bottom: 5px;
  clear: left;
  width: 50%;
  min-width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  border-radius: 0 20px 20px 0;
  transition: 0.3s;
}

.album-detail:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.album-detail img {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
}

.conductor-header {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 10px;
}

.album-text {
  min-height: 190px;
  padding: 5px 0px;
}

.conductor-list {
  padding-bottom: 40px;
}

.track-item {
  overflow-x: scroll;
  padding: 5px 0 5px 5px;
  border-top: 1px solid black;
  text-align: left;
}

.track-list {
  clear: left;
  padding: 0;
  width: 100%;
  list-style: inside;
  list-style-type: decimal;
}

.audio-preview {
  display: block;
}