/* STANDARD STYLES */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* NAV STYLES */

ul.navigation {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.navigation li {
  float: left;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  color: white;
}

.nav-link.active {
  background-color: #4CAF50 !important;
}

.nav-link:hover {
  background-color: #111;
}

/* PAGE STYLES */

.page--album-search {
  padding: 10px 0;
}

.page--suggest-conductor {
  padding: 10px 0;
}

.page--conductor-list {
  padding: 10px 0;
}

.conductor-header {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 10px;
}

.conductor-list {
  padding-bottom: 40px;
}

/* ALBUM CARD STYLES */

.album-detail {
  margin-bottom: 5px;
  clear: left;
  width: 50%;
  min-width: 650px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  border-radius: 5px;
  transition: 0.3s;
}

.album-detail:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.album-detail img {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
}

.album-text {
  min-height: 190px;
  padding: 5px 0px;
}

/* TRACK STYLES */

.track-item {
  overflow-x: scroll;
  padding: 5px 0 5px 5px;
  border-top: 1px solid black;
  text-align: left;
}

.track-list {
  clear: left;
  padding: 0;
  width: 100%;
  list-style: inside;
  list-style-type: decimal;
}

.audio-preview {
  display: block;
  margin-top: 5px;
}